.best {
  color: palevioletred;
  font-style: italic;
  text-align: left;
}
.flashy {
  color: red;
  font-style: italic;
}
body {
  background: aqua;
}
h1 {
  font-size: 50px;
  line-height: 30px
}
h2 {
  font-size: 30px;
  line-height: 20px
}